include MANIFEST.in
include requirements.txt
include *.py
include *.md
recursive-include warehouse_management *.html
recursive-include warehouse_management *.txt
recursive-include warehouse_management *.js
recursive-include warehouse_management *.css
recursive-include warehouse_management *.png
recursive-include warehouse_management *.jpg
recursive-include warehouse_management *.svg
recursive-include warehouse_management *.json
